.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrollbar {
  overflow: scroll;
  width: 800px;
  height: 400px;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}

/* custom colors  */
.scrollbar-primary::-webkit-scrollbar {
  background-color: #F5F5F5;
}
.scrollbar-primary {
  scrollbar-color: #4285f4 #f5f5f5;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4;
}

.chart {
  height: 50%;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.map {
  width: 100%;
  height: 100%;
  top: 10px;
}

.dashboard_body {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 90vh;
}

.scrollbar {
  height: 26.25em;
}

.main {
  height: 100vh;
  width: 100vw;
  background-color: rgb(38,38,38);
}

.linechart {
  background-color: white;
}

.list {
  /* overflow-x: scroll;
  white-space: nowrap; */
  margin-top: 50px;
}

.wrapper {
  float: right;
  margin-top: 8px;
}

.el {
  display: inline-block;
  margin: 10px;
}

.el:last-child {
  margin-right: 50px;
}

.name {
  margin-left: 50px;
}

.linechart {
  margin-top: 50px;
}

.chart {
  height: 40%;
}

.item {
  float: left;
  color: white;
}

div.list-group-item {
  height: 40px;
  background-color: #222;
}

.item_lighter > div.list-group-item {
  background-color: #333;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
.linechart {
  background-color: #222;
}

.navbar {
  background-color: #C3C3C3;
  color: #000000;
}

.table {
  background-color: white;
}

.table_body {
  overflow-y: scroll;
  white-space: nowrap;
}

.table-wrapper-scroll-y {
  max-height: 1100px !important;
  margin-top: 50px;
}

tbody {
  overflow-y: auto;
}

.dashboard_nav {
  height: 10vh;
  width: 100vw;
}

.dataTable.body.extend {
  background-color: white;
}

.table-group {
  height: 100%;
  width: 90%;
}

.buttons {
  margin-top: 50px;
}

.button-duo {
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 2%;
}

.button-stock {
  margin-right: 20px;
}

.button-go-to {
  float: right;
}

.map-group {
  width: 90%;
  height: 90%;
}

.button-show-peers {
  margin-top: 5%;
  justify-content: center;
}

.map-outer {
  width: 100%;
  height: 80%;
  top: 50px;
}
