.marker-cluster-smallour {
	stroke: green;
    stroke-opacity: 1;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: green;
    fill-opacity: 0.8;
    fill-rule: evenodd;
	}
.marker-cluster-smallour div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgb(181, 226, 140);
	}
.marker-cluster-medium div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-large {
	background-color: rgb(181, 226, 140);
	}
.marker-cluster-large div {
	background-color: rgba(110, 204, 57, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-smallour {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-smallour div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(181, 226, 140);;
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(110, 204, 57);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 35px;
	height: 35px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 20px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
	}
.marker-cluster span {
	line-height: 30px;
	}