
.node_box {
    height: 100%;
    width: 100%;
}

.node_info_main {
    height: 80%;
    width: 70%;
    border-radius: 25px 25px 25px 25px;
    background: darkcyan;
}

.node_info_peer_graph, .node_info_json_view {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.node_info_json_view {
    text-align: left;
}

.peer-network {
    width: 1000px;
    height: 1000px;
}

.nodeMain {
    width: 100vw;
    height: 100vh;
}